
{% extends 'base.html' %}
{% block content %}
  <h3>Dashboard</h3>
  <div class="row mb-3">
    <div class="col"><div class="card"><div class="card-body"><h6>Total</h6><h3 id="k1">0</h3></div></div></div>
    <div class="col"><div class="card"><div class="card-body"><h6>Avg Rating</h6><h3 id="k2">0</h3></div></div></div>
    <div class="col"><div class="card"><div class="card-body"><h6>Mix</h6><div id="k3">0/0/0</div></div></div></div>
  </div>
  <div class="row">
    <div class="col-lg-8"><canvas id="trend"></canvas></div>
    <div class="col-lg-4">
      <a class="btn btn-outline-secondary w-100 mb-2" href="/companies">Manage Companies</a>
    </div>
  </div>
{% endblock %}
